# Applied Data Science Capstone Week 3 Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Task 2

### Step 1: Reading Libraries

In [1]:
import pandas as pd

### Step 2: Reading Logitude/Latitude Table

In [12]:
# Geospatial_Coordinates provided in the instruction
lonlat=pd.read_csv('Geospatial_Coordinates.csv')

# Toronto table created in task 1
trt=pd.read_csv('D:\Learning\Applied Data Science\Course 4 Applied Data Science Capstone\Week 3\TRT.csv')

### Step 3: Merging the two Tables

In [13]:
# Column names of lonlat
print("Column names of lonlat dataframe are: {}, {}, and {}.".format(lonlat.columns[0],lonlat.columns[1],lonlat.columns[2]))
print("Column names of trt dataframe are: {}, {}, and {}.".format(trt.columns[0],trt.columns[1],trt.columns[2]))

# Change the name "Postal Code" in lonlat to "PostalCode"
lonlat.rename(columns={'Postal Code':'PostalCode'},inplace=True)

# Left join
trt_geo=pd.merge(trt,lonlat,how='left',on='PostalCode')

Column names of lonlat dataframe are: Postal Code, Latitude, and Longitude.
Column names of trt dataframe are: PostalCode, Borough, and Neighborhood2.

### Step 4: Exporting the Table

In [14]:
# Export trt_geo for the preparation of Task 3
trt_geo.to_csv(r'D:\Learning\Applied Data Science\Course 4 Applied Data Science Capstone\Week 3\TRT_geo.csv',index=None,header=True)

### Step 5: Exploring the Table

In [15]:
trt_geo

,PostalCode,Borough,Neighborhood2,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,Kingsview Village / St. Phillips / Martin Grov...,43.688905,-79.554724
101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
102,M9W,Etobicoke,Northwest,Northwest,43.706748,-79.594054

In [16]:
# Shape of the table
print("The shape of the dataframe is {}. The dataset has {} rows.".format
      (trt_geo.shape,trt_geo.shape[0]))

The shape of the dataframe is (103, 6). The dataset has 103 rows.